@font-face {
	font-family: "Serifa TH BT";
	src: url(fonts/SerifaTH.TTF);
}

body {
	background-image: url(images/bw.jpg);
	background-color: lightgray;
	background-repeat: no-repeat;
	/*background-size: cover;
	background-position: left -100px center;*/
	background-size: 100% 100%;
	margin: 0px;
}

hr {
	height: 7px;
	background-color: #76c38f;
	margin-top: -2px;
}

div.slider {
	height: 650px; 
	margin-top: -10px;
	background-color: rgba(33,33,33,0.8);
}

div.header {
	width: 100%;
	padding-top: 15px;
	position: fixed;
	/*right: 110px;*/
	/*position: sticky;
	top: 0;*/
	z-index: 10;
}

li.nav {
	list-style-type: none;
	float: right;
	/*display: inline-block;*/
	margin-left: 20px;
	margin-top: 10px;
}

.nav:hover:not(.active) {
	background-color: #555;
	border-radius: 10px;
}

li.nav a {
	display: inline-block;
	padding: 10px 10px;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0px 0px 5px black;
	color: white;
	font-family: 'Serifa TH BT', serif;
}

.dropdown_content {
	position: absolute;
	overflow: hidden;
	top: 85px;
	background-color: #555;
	max-height: 0px;
}

.dropdown_sub {
	padding-top: 10px;
}

.dropdown_sub ul li a {
	text-transform: capitalize;
	text-shadow: none;
	color: #e0e0e0;
	padding: 10px 18px;
}


.nav .dropdown:focus {
	background-color: #555;
	border-radius: 10px;
}

.nav .dropdown:focus ~ .dropdown_content {
	max-height: 400px;
}

.dropdown_content a:hover {
	background-color: #333;
}

.dropdown_content {
	position: absolute;
	overflow: hidden;
	background-color: #555;
	border-radius: 0px 0px 10px 10px;
	z-index: 10;
}

.dropdown_content ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.active {
	background-color: #76c38f;
	padding: 0px 10px;
	border-radius: 10px;
}

li.active a {
	text-shadow: none;
}

.clear {
	clear: left;
}

.clear2 {
	clear: right;
}

.slider_content {
	
}

button.slider_arrow {
	height: 30px;
	width: 30px;
	background-color: Transparent;
	border-style: none;
}

button#slider_arrow_right {
	position: relative;
	top: -280px;
	float: right;
	margin: 20px 0px 20px 20px;
}

button#slider_arrow_left {
	position: relative;
	top: 180px;
	float: left;
	margin: 20px 20px 20px 0px;
}

p.slider_text {
	width: 400px;
	height: 400px;
	float: left;
	color: rgb(158,158,158);
	font-family: 'Serifa TH BT', serif;
	margin: 100px 70px 0px 30px;
}

#slider_title {
	color: white;
	font-size: 3.3em;
	font-family: serif;
	position: relative;
	top: -20px;
}

#slider_read {
	color: white;
	position: relative;
	top: 30px;
	text-decoration: none;
	padding: 8px 15px;
}

.slider_img {
	width: 420px;
	height: 420px;
	border-radius: 50%;
	border: 25px solid #6b6b6b;
	position: relative;
	top: -10px;

}

h1.header_text {
	color: white;
	font-weight: normal;
	text-shadow: 0px 0px 5px black;
	padding-top: 5px;
	margin-left: 10px;
}

h5.header_text {
	color: #9e9e9e;
	font-weight: normal;
	font-family: 'Serifa TH BT', serif;
	position: relative;
	top: -30px;
	text-shadow: 0px 0px 5px black;
	margin-left: 10px;
}

div.content {
	width: 1100px;
	margin: 0px auto;
}

a.card_link {
	text-decoration: none;
	color: #343434;
	font-weight: normal;
}

div.cards {
	height: 330px;
	width: 250px;
	float: left;
	background-color: white;
	margin: 30px 12px 50px 12px;
	box-shadow: 0px 0px 5px gray;
}

div.cards:hover {
	background-color: #76c38f;
}

div.cards:hover img {
	filter: brightness(0) invert(1);
	-webkit-filter: brightness(0) invert(1);
}

div.cards:hover a,div.cards:hover p {
	color: white;
	font-weight: normal;
}

div.cards .card_icon {
	height: 130px;
	width: 130px;
	margin: 5px auto;
	position: relative;
	top: 20px;
	left: 58px;
}

div.cards .card_heading{
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}

div.cards .card_text{
	text-align: center;
	padding: 0px 20px;
	font-family: 'Serifa TH BT', serif;
	font-weight: bold;
	position: relative;
	top: -10px;
}

h1.title {
	width: 300px;
	display: inline;
	background-color: #343434;
	color: white;
	border-radius: 12px;
	text-align: center;
	font-weight: normal;
	padding: 10px 15px;
	margin: 0px;
	position: relative;
	top: -15px;
	left: 35%;
}

hr.title {
	height: 3px;
	/*display: inline-block;*/
	background-color: #343434;
	margin-right: 10px;
	margin-left: 10px;
	position: relative;
	top: 15px;
}

.images {
	height: 520px;
	/*display: inline-block; 
	position: relative;
	right: -125px;*/
}

.figures {
	width: 320px;
	height: 220px;
	float: left;
	margin: 0px;
	margin-bottom: 40px;
}

img.imgs {
	height: 220px;
	width: 330px;
	filter: grayscale(100%);
	border: 5px solid white;
	margin: 26px 13px 0px 13px;
	box-shadow: 0px 0px 5px gray;
}

figcaption {
	width: 320px;
	background-color: rgba(33,33,33,0.8);
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	font-size: 1em;
	padding: 5px;
	position: relative;
	z-index: 5;
	top: -37px;
	left: 18px;
}

.position1 {
	position: relative;
	left: 50px;
}

.position2 {
	position: relative;
	left: 100px;
}

.figures:hover figcaption {
	display: none;
}

img.imgs:hover {
	border-color: #76c38f;
	filter: grayscale(0%);
}

div.footer1 {
	margin: 50px 0px 0px 0px;
	/*display: inline-block;*/
	background-color: #343434;
	height: 400px;
	border-width: 1px 1px 0px 1px;
	border-color: black;
	border-style: outset;
}

.footer_content {
	float: left;
	width: 230px;
	margin: 0px 20px;
}

h4.footer_head {
	color: white;
	font-weight: normal;
	font-family: 'Serifa TH BT', serif;
	font-size: 1.1em;
	margin: 30px 0px 30px 0px;
}

p.post {
	font-family: 'Serifa TH BT', serif;
	color: rgb(158,158,158);
	position: relative;
	top: 20px;
}

#post_title {
	font-family: serif;
	color: #76c38f;
	position: relative;
	top: -20px;
}

#post_admin {
	font-family: 'Serifa TH BT', serif;
	font-size: 0.8em;
	color: #76c38f;
	position: relative;
	top: -12px;
}

#post_date {
	font-family: 'Serifa TH BT', serif;
	font-size: 0.7em;
	color: rgb(158,158,158);
	position: relative;
	top: -8px;
}

#post_domain {
	font-family: 'Serifa TH BT', serif;
	font-size: 0.7em;
	color: rgb(117,117,117);
	position: relative;
	top: -12px;
}

#post_read {
	font-family: 'Serifa TH BT', serif;
	text-decoration: none;
	color: #76c38f;
	font-weight: normal;
	font-size: 1.2em;
	display: inline-block;
	padding-top: 10px;
}

ul.links {
    list-style: none;
    margin-left: -5px;
    padding-left: 1em;
    position: relative;
    left: -10px;
}

li.links:after {
	content: "";
    display: block;
    height: 1px;
    width: 220px;
    margin: 10px;
    background: rgba(189,189,189,0.2);;
}

a.links {
	color: #76c38f;
	text-decoration: none;
	font-family: 'Serifa TH BT', serif;
}

span.li_style {
	color: rgb(158,158,158);
	font-size: 1em;
}

.footer_paragraph {
	color: rgb(158,158,158);
	text-decoration: none;
	font-family: 'Serifa TH BT', serif;
}

span.tag {
	color: #76c38f;
}

input, textarea {
	border-radius: 10px;
	background-color: #212121;
	border-color: #212121;
	border-style: none;
	font-family: 'Serifa TH BT', serif;
}

input.input, textarea {
	height: 35px;
	width: 220px;
	margin-bottom: 10px;
	padding-left: 10px;
	font-size: 1em;
}

#message {
	height: 70px;
	padding-top: 10px;
}

#submit {
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 15px;
}

div.footer2 {
	height: 60px;
	/*width: 1347px;*/
	margin: 0px; 
	/*display: inline-block;*/
	background-color: #2b2b2b;
	border-width: 1px;
	border-color: black;
	border-style: outset;
}

h4.copyright_text {
	color: rgb(158,158,158);
	font-weight: normal;
	font-family: 'Serifa TH BT', serif;
}

#footer_float {
	float: right;
}

