@font-face {
	font-family: "Serifa TH BT";
	src: url(fonts/SerifaTH.TTF);
}

body {
	/*background-image: url(images/bg1.jpg);*/
	background-color: lightgray;
	background-repeat: no-repeat;
	/*background-size: cover;*/
	margin: 0px;
}

hr {
	height: 7px;
	background-color: #48CCCD;
	margin-top: -2px;
}

div.slider {
	height: 650px; 
	margin-top: -10px;
	background-color: rgba(0, 0, 0, 0.5);
}

div.header {
	padding-top: 20px;
	/*position: fixed;*/
	/*right: 110px;*/
	position: sticky;
	top: 0;
	z-index: 10;
}

li.nav {
	list-style-type: none;
	float: right;
	display: inline-block;
	margin: 15px;
}

.nav:hover:not(.active) {
	background-color: #424242;
	padding: 10px 20px;
	margin-top: 5px;
	margin-bottom: 0px;
	border-radius: 10px;
}

li.nav a {
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0px 0px 5px black;
	color: white;
	font-family: 'Serifa TH BT', serif;
}

#position_fix {
	position: relative;
	top: -10px;
}

.active {
	background-color: #48CCCD;
	padding: 10px 20px;
	margin-bottom: 0px;
	border-radius: 10px;
}

.clear {
	clear: left;
}

div.slider_content {
	/*position: relative;
	top: 10px;*/
}

#slider_arrow_right {
	float: right;
	height: 500px;
	background-color: red;
}

#slider_arrow_left {
	float: left;
	height: 500px;
	background-color: red;
}

p.slider_text {
	width: 350px;
	height: 400px;
	float: left;
	color: rgb(189,189,189);
	font-family: 'Serifa TH BT', serif;
	margin: 70px 70px 0px 30px;
}

#slider_title {
	color: white;
	font-size: 3em;
	font-family: serif;
}

#slider_read {
	color: white;
	position: relative;
	top: 40px;
	text-decoration: none;
}

#slider_img {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	border: 25px solid rgb(158,158,158);
}

h1.header_text {
	color: white;
	font-weight: normal;
	text-shadow: 0px 0px 5px black;
}

h5.header_text {
	color: rgb(189,189,189);
	font-weight: normal;
	font-family: 'Serifa TH BT', serif;
	position: relative;
	top: -30px;
	text-shadow: 0px 0px 5px black;
}

div.content {
	width: 1100px;
	margin: 0px auto;
}

a.card_link {
	text-decoration: none;
	color: #343434;
	font-weight: normal;
}

div.cards {
	height: 330px;
	width: 250px;
	float: left;
	background-color: white;
	margin: 50px 12px;
}

div.cards:hover {
	background-color: #48CCCD;
}

div.cards .card_icon {
	height: 130px;
	width: 130px;
	margin: 5px auto;
	position: relative;
	top: 20px;
	left: 58px;
}

div.cards .card_heading{
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}

div.cards .card_text{
	text-align: center;
	padding: 0px 20px;
	font-family: 'Serifa TH BT', serif;
	font-weight: bold;
	position: relative;
	top: -10px;
}

h1.title {
	width: 300px;
	display: inline-block;
	background-color: #343434;
	color: white;
	border-radius: 15px;
	text-align: center;
	font-weight: normal;
	padding: 10px 0px;
	margin: 0px;
	position: relative;
	top: -20px;
	left: 35%;
}

hr.title {
	height: 3px;
	/*display: inline-block;*/
	background-color: #343434;
	position: relative;
	top: 20px;
}

.images {
	height: 500px;
	/*display: inline-block; 
	position: relative;
	right: -125px;*/
}

img.imgs {
	height: 220px;
	width: 330px;
	float: left;
	border: 5px solid white;
	margin: 26px 13px 0px 13px;
}

img.imgs:hover {
	border-color: #48CCCD;
}

div.footer1 {
	margin: 50px 0px 0px 0px;
	/*display: inline-block;*/
	background-color: #343434;
	height: 400px;
	border-width: 1px 1px 0px 1px;
	border-color: black;
	border-style: outset;
}

.footer_content {
	float: left;
	width: 230px;
	margin: 0px 20px;
}

h4.footer_head {
	color: white;
	font-weight: normal;
	font-family: 'Serifa TH BT', serif;
	font-size: 1.1em;
	margin: 30px 0px 30px 0px;
}

p.post {
	font-family: 'Serifa TH BT', serif;
	color: rgb(158,158,158);
	position: relative;
	top: 20px;
}

#post_title {
	font-family: serif;
	color: #48CCCD;
	position: relative;
	top: -20px;
}

#post_admin {
	font-family: 'Serifa TH BT', serif;
	font-size: 0.8em;
	color: #48CCCD;
	position: relative;
	top: -12px;
}

#post_date {
	font-family: 'Serifa TH BT', serif;
	font-size: 0.7em;
	color: rgb(158,158,158);
	position: relative;
	top: -8px;
}

#post_domain {
	font-family: 'Serifa TH BT', serif;
	font-size: 0.7em;
	color: rgb(117,117,117);
	position: relative;
	top: -12px;
}

#post_read {
	font-family: 'Serifa TH BT', serif;
	text-decoration: none;
	color: #48CCCD;
	font-weight: normal;
	font-size: 1.2em;
	display: inline-block;
	padding-top: 10px;
}

ul.links {
    list-style: none;
    margin-left: -5px;
    padding-left: 1em;
    position: relative;
    left: -10px;
}

li.links:after {
	content: "";
    display: block;
    height: 1px;
    width: 220px;
    margin: 10px;
    background: rgba(189,189,189,0.2);;
}

a.links {
	color: #48CCCD;
	text-decoration: none;
	font-family: 'Serifa TH BT', serif;
}

span.li_style {
	color: rgb(158,158,158);
	font-size: 1em;
}

.footer_paragraph {
	color: rgb(158,158,158);
	text-decoration: none;
	font-family: 'Serifa TH BT', serif;
}

span.tag {
	color: #48CCCD;
}

input, textarea {
	border-radius: 10px;
	background-color: #212121;
	border-color: #212121;
	border-style: none;
	font-family: 'Serifa TH BT', serif;
}

input.input, textarea {
	height: 35px;
	width: 220px;
	margin-bottom: 10px;
	padding-left: 10px;
	font-size: 1em;
}

#message {
	height: 70px;
	padding-top: 10px;
}

#submit {
	text-transform: uppercase;
	font-weight: bold;
}

div.footer2 {
	height: 60px;
	/*width: 1347px;*/
	margin: 0px; 
	/*display: inline-block;*/
	background-color: #212121;
	border-width: 1px;
	border-color: black;
	border-style: outset;
}

h4.copyright_text {
	color: rgb(158,158,158);
	font-weight: normal;
	font-family: 'Serifa TH BT', serif;
}

#footer_float {
	float: right;
}

